<!DOCTYPE html>
<html>
    <head>
        <title>FutINFO - Futebol da vázea</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Futebol, Futebol várzea, derlizão, Cachoeira do Sul, futebol Cachoeira do Sul,
        Bom Retiro, Mauá, Elite">
        <meta name="description" content="Acompanhe aqui o seu time favorito de Cachoeira do Sul, e marque sua hora nas quadras
        disponíveis!">
        <!----Fontes-->
        <style>
           @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;900&display=swap');
           @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,800&display=swap');
            </style>
        <!----Estilização-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/CSS/style.css">
    </head>
    <body>
        <!----Header---->
        <header>
            <div class="container">
                <div class="logo">
                    <img class="logo_header" src="/Images/Logo-FutINFO.JPG">
                </div>
                <div class="menu">
                    <nav>
                        <div class="menuMobile">
                            <div class="mm_line"></div>
                            <div class="mm_line"></div>
                            <div class="mm_line"></div>
                        </div>
                        <ul>
                            <a href="#"><li>Início</li></a>
                            <a href="#"><li>Classificação e artilheiros</li></a>
                            <a href="#"><li>Ver quadras</li></a>
                            <a href="#"><li>Contato</li></a>
                            <div class="btn_signUp">
                                <h1 class="btn_txt">Entrar ou cadastrar-me</h1>
                            </div>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!----Section---->
        <section>
            <div class="container_section">
                <div class="tables_column">
                <!--------Primeira tabela-------->
                <div class="table_area">
                    <div class="divisao_area">
                        <h1 class="divisao_h1">1º Divisão</h1>
                    </div>
                    <table BORDER RULES=cols>
                        <thead class="thead_area">
                            <tr>
                                <th class="times">Time</th>
                                <th>Pts</th>
                                <th>J</th>
                                <th>V</th>
                                <th>D</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="area_time">
                                        <img class="time_png" src="/Images/TimesPNG/flamengo.png"/>
                                        <span class="nome_time">Time A</span>
                                    </div>
                                </td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                             <tr>
                                <td>
                                    <div class="area_time">
                                        <img class="time_png" src="/Images/TimesPNG/flamengo.png"/>
                                        <span class="nome_time">Time A</span>
                                    </div>
                                </td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                             <tr>
                                <td>
                                    <div class="area_time">
                                        <img class="time_png" src="/Images/TimesPNG/flamengo.png"/>
                                        <span class="nome_time">Time A</span>
                                    </div>
                                </td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </thead>
                    </table>
                        <h3 class="link_table">
                            <a href="#">Ver todas as tabelas >></a>
                            </h3>
                </div>
                <!--------Segunda tabela-------->
                <div class="table_area">
                    <div class="divisao_area">
                        <h1 class="divisao_h1">1º Divisão</h1>
                    </div>
                    <table BORDER RULES=cols>
                        <thead class="thead_area">
                            <tr>
                                <th class="times">Time</th>
                                <th>Pts</th>
                                <th>J</th>
                                <th>V</th>
                                <th>D</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="area_time">
                                        <img class="time_png" src="/Images/TimesPNG/flamengo.png"/>
                                        <span class="nome_time">Time A</span>
                                    </div>
                                </td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                             <tr>
                                <td>
                                    <div class="area_time">
                                        <img class="time_png" src="/Images/TimesPNG/flamengo.png"/>
                                        <span class="nome_time">Time A</span>
                                    </div>
                                </td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                             <tr>
                                <td>
                                    <div class="area_time">
                                        <img class="time_png" src="/Images/TimesPNG/flamengo.png"/>
                                        <span class="nome_time">Time A</span>
                                    </div>
                                </td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </thead>
                    </table>
                        <h3 class="link_table">
                            <a href="#">Ver todas as tabelas >></a>
                            </h3>
                </div>
                <!--------Terceira tabela-------->
                <div class="table_area">
                    <div class="divisao_area">
                        <h1 class="divisao_h1">1º Divisão</h1>
                    </div>
                    <table BORDER RULES=cols>
                        <thead class="thead_area">
                            <tr>
                                <th class="times">Time</th>
                                <th>Pts</th>
                                <th>J</th>
                                <th>V</th>
                                <th>D</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="area_time">
                                        <img class="time_png" src="/Images/TimesPNG/flamengo.png"/>
                                        <span class="nome_time">Time A</span>
                                    </div>
                                </td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                             <tr>
                                <td>
                                    <div class="area_time">
                                        <img class="time_png" src="/Images/TimesPNG/flamengo.png"/>
                                        <span class="nome_time">Time A</span>
                                    </div>
                                </td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                             <tr>
                                <td>
                                    <div class="area_time">
                                        <img class="time_png" src="/Images/TimesPNG/flamengo.png"/>
                                        <span class="nome_time">Time A</span>
                                    </div>
                                </td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </thead>
                    </table>
                        <h3 class="link_table">
                            <a href="#">Ver todas as tabelas >></a>
                            </h3>
                </div>
            </div>
            <div class="news_area">
                <!--------Primeira notícia-------->
                <div class="news">
                    <div class="img_new">
                        <img class="img_news_png" src="/Images/LOGO-FUTINFO.jpg">
                    </div>
                    <div class="text_new">
                        <span class="text_new_top"><a href="#classificacao">1º Divisão</a></span>
                        <div class="text_new_center">
                            <h1 class="h1_new_center">Que jogo!</h1>
                            <div class="text_sbtext">
                            <p class="p_new">Com gol no último lance,
                             Didico garante empate em 2x2 entre Mauá e Bom retiro.
                            </p>
                            </div>
                            <div class="bottom_text">
                                <div class="calendartextArea">
                                <img class="calendar_text_img" src="/Images/News/calendar.svg"/>
                                <p class="date_text">16/06/2020</p>
                                </div>
                            <span class="new_link"><a href="#artilheiros">Ver artilheiros >></a></span>
                            </div>
                    </div>
                </div>
            </div>
            <!--------Segunda notícia-------->
                <div class="news">
                    <div class="img_new">
                        <img class="img_news_png" src="/Images/LOGO-FUTINFO.jpg">
                    </div>
                    <div class="text_new">
                        <span class="text_new_top"><a href="#classificacao">1º Divisão</a></span>
                        <div class="text_new_center">
                            <h1 class="h1_new_center">Que jogo!</h1>
                            <div class="text_sbtext">
                            <p class="p_new">Com gol no último lance,
                             Didico garante empate em 2x2 entre Mauá e Bom retiro.
                            </p>
                            </div>
                            <div class="bottom_text">
                                <div class="calendartextArea">
                                <img class="calendar_text_img" src="/Images/News/calendar.svg"/>
                                <p class="date_text">16/06/2020</p>
                                </div>
                            <span class="new_link"><a href="#artilheiros">Ver artilheiros >></a></span>
                            </div>
                    </div>
                </div>
            </div>
            <!--------Terceira notícia-------->
                <div class="news">
                    <div class="img_new">
                        <img class="img_news_png" src="/Images/LOGO-FUTINFO.jpg">
                    </div>
                    <div class="text_new">
                        <span class="text_new_top"><a href="#classificacao">1º Divisão</a></span>
                        <div class="text_new_center">
                            <h1 class="h1_new_center">Que jogo!</h1>
                            <div class="text_sbtext">
                            <p class="p_new">Com gol no último lance,
                             Didico garante empate em 2x2 entre Mauá e Bom retiro.
                            </p>
                            </div>
                            <div class="bottom_text">
                                <div class="calendartextArea">
                                <img class="calendar_text_img" src="/Images/News/calendar.svg"/>
                                <p class="date_text">16/06/2020</p>
                                </div>
                            <span class="new_link"><a href="#artilheiros">Ver artilheiros >></a></span>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide_area">
            <div class="slide_textCenter">
                <h1 class="textSlide">Quadras disponíveis</h1>
        </div>
        <div class="slideInt">
        <div class="slide_name">
            <h2 class="h2_slideName">Quadra São José</h2>
            <p class="p_slidesbText">Av. Orlando da Cunha Carlos, 1877</p>
        </div>
        <div class="slide">
            <div class="slide_conteudo active">
                <img class="imgSlide" src="/Images/Slide/img-1.jpg">
            </div>
            <div class="slide_conteudo">
                <img class="imgSlide" src="/Images/Slide/img-2.jpg">
            </div>
            <div class="slide_conteudo">
                <img class="imgSlide" src="/Images/Slide/img-3.jpg">
            </div>
        </div>
        <div class="btn_quadra">
            <p class="p_btn">
                Agendar meu horário >>
            </p>
        </div>
    </div>
        <!----2º slide---->
        <div class="slideInt">
                <div class="slide_name">
            <h2 class="h2_slideName">Quadra São José</h2>
            <p class="p_slidesbText">Av. Orlando da Cunha Carlos, 1877</p>
        </div>
        <div class="slideTwo">
            <div class="slide_conteudo active">
                <img class="imgSlide" src="/Images/Slide/img-1.jpg">
            </div>
            <div class="slide_conteudo">
                <img class="imgSlide" src="/Images/Slide/img-2.jpg">
            </div>
            <div class="slide_conteudo">
                <img class="imgSlide" src="/Images/Slide/img-3.jpg">
            </div>
        </div>
        <div class="Twobtn_quadra">
            <p class="p_btn">
                Agendar meu horário >>
            </p>
        </div>
    </div>
</div>
        </section>
                <!--------Footer-------->
        <footer>
           <div class="container_footer">
               <div class="parceiros_footer_area">
                   <h1 class="h1Parceiros">Nossos parceiros:</h1>
                    <div class="parceiros_footer">
                   <img src="/Images/Footer/parceria-1.jpg" class="mercadoImg">
                   <img src="/Images/Footer/logo-luiza.png" class="fotografiaImg">
               </div>
               </div>
                <div class="paginas_footer_area">
                    <h1 class="h1Pages">Páginas</h1>
                   <div class="listaPage_footer">
                       <ul class="ulFooter">
                           <li class="listFooter"><a href="#">Voltar para o início</a></li>
                           <li class="listFooter"><a href="#">Classificação e artilheiros</a></li>
                           <li class="listFooter"><a href="#">Ver quadras</a></li>
                           <li class="listFooter"><a href="#">Sobre</a></li>
                       </ul>
                   </div>
               </div>
           </div>
        </footer>
        <div class="footerCopy">
            <div class="copyItems">
            <img src="/Images/LOGO-FUTINFO.jpg" class="logoFooter">
            <p class="pCopy">FutINFO 2020 © todos os direitos reservados.</p>
        </div>
    </div>
        <script src="/JS/jquery-3.1.1.min.js" type="text/javascript"></script>
        <script src="/JS/header.js" type="text/javascript"></script>
        <script src="/JS/slide.js" type="text/javascript"></script>
    </body>
</html>