<!DOCTYPE html>
<html>
    <head>
        <title>FutINFO - Futebol da vázea</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Futebol, Futebol várzea, derlizão, Cachoeira do Sul, futebol Cachoeira do Sul,
        Bom Retiro, Mauá, Elite">
        <meta name="description" content="Acompanhe aqui o seu time favorito de Cachoeira do Sul, e marque sua hora nas quadras
        disponíveis!">
        <!----Fontes-->
        <style>
           @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;900&display=swap');
            </style>
        <!----Estilização-->
        <link rel="stylesheet" type="text/css" href="/CSS/style.css">
    </head>
    <body>
        <!----Header---->
        <header>
            <div class="container">
                <div class="logo">
                    <img class="logo_header" src="/Images/Logo-FutINFO.JPG">
                </div>
                <div class="menu">
                    <nav>
                        <div class="menuMobile">
                            <div class="mm_line"></div>
                            <div class="mm_line"></div>
                            <div class="mm_line"></div>
                        </div>
                        <ul>
                            <a href="#"><li>Início</li></a>
                            <a href="#"><li>Classificação e artilheiros</li></a>
                            <a href="#"><li>Ver quadras</li></a>
                            <a href="#"><li>Contato</li></a>
                            <div class="btn_signUp">
                                <h1 class="btn_txt">Entrar ou cadastrar-me</h1>
                            </div>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!----Section---->
        <section>
            <div class="container_section">
                <div class="table_area">
                    <div class="divisao_area">
                        <h1 class="divisao_h1">1º Divisão</h1>
                    </div>
                    <table BORDER RULES=cols>
                        <thead class="thead_area">
                            <tr>
                                <th class="times">Time</th>
                                <th>Pts</th>
                                <th>J</th>
                                <th>V</th>
                                <th>D</th>
                            </tr>
                            <tr>
                                <td>dasdas</td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </section>
<<<<<<< HEAD:src/index.html
        <script src="Assets/JS/jquery-3.1.1.min.js" type="text/javascript"></script>
        <script src="Assets/JS/script.js" type="text/javascript"></script>
=======
        <script src="/JS/jquery-3.1.1.min.js" type="text/javascript"></script>
        <script src="/JS/script.js" type="text/javascript"></script>
>>>>>>> da2d5b5b6e1d591044116fafc6722a0f6a9437d1:src/views/pages/index.handlebars
    </body>
</html>