<!DOCTYPE html>
<html lang="en">
<!------- Head ------>

<head>
    <!------- Fonte importada ------>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');
    </style>
    <!-------------- Meta ---------->
    <meta name="description"
        content="Classificação e artilheiros de cada divisão atualizadas, quadras com fotos em HD disponíveis para visualização!">
    <meta name="keywords"
        content="Futebol, Várzea, Futebol varzeano, Cachoeira do Sul, Quadras Cachoeira do Sul, Classificação, Artilheiros">
    <meta name="robots" content="">
    <meta name="revisit-after" content="7 day">
    <meta name="language" content="Portuguese">
    <meta name="generator" content="N/A">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FutINFO - Futebol várzeano de Cachoeira do Sul</title>
    <!------- Estilização ------>
    <link rel="stylesheet" type="text/css" href="/CSS/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/CSS/style.css">
</head>
<!------- Body ------>

<body>
    <!------- Header ------>
    <header>
        <div class="container container-header">
            <nav class="navbar navbar-expand-lg navbar-light">
                <!------- Logo ------>
                <a href="#" class="navbar-brand">
                    <img class="logo_header" src="/Images/LOGO-FUTINFO.jpg">
                </a>
                <!------- Botão menu Mobile ------>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuHeader"
                    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="menuHeader">
                    <!------- Menu Header ------>
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active py-2"><a href="#">Início</a></li>
                        <li class="nav-item py-2"><a href="#">Classificação e artilheiros</a></li>
                        <li class="nav-item py-2"><a href="#">Ver quadras</a></li>
                        <li class="nav-item py-2"><a href="#">Sobre a FutINFO</a></li>
                    </ul>
                    <!------- Botão inscrever-se ------>
                    <div class="ml-auto py-1">
                        <a href Entrar ou cadastrar-se </button></a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="menuMobile_bottom fixed-bottom d-lg-none d-sm-block">

    </div>
    <!------- Scripts ------>
    <script src="/JS/jquery-3.1.1.min.js 
    <script src=" /JS/popper.min.js <script src="/JS/bootstrap.min.js" <script
        src="https://kit.fontawesome.com/fa9fd24602.js" crossorigin="anonymous"></script>