<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/CSS/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body style="background:#006FC7">

    <section>
        <div class="logoFutInfo">
            <img src="/Images/LOGO-FUTINFO.jpg" class="logoImg">
        </div>
        <div class="form">
            <div class="inputArea">
                <div>
                    <label for="email" class="labelLogin" id="labelLogin">Email:</label>
                    <input type="email" class="inputLogin" id="email">
                </div>
                <div>
                    <label for="senhaReserva" class="labelLogin">Senha Reserva:</label>
                    <input type="password" class="inputLogin" id="senhaReserva">
                </div>
                <div>
                    <label for="senha" class="labelLogin">Nova Senha:</label>
                    <input type="password" class="inputLogin" id="senhaNova">
                </div>
            </div>
            <div class="botoesArea">
                <a href="/login">
                    <button class="botoes btn-danger">
                        Voltar
                    </button>
                </a>
                <button class="botoes botaoLogin btn-success" onclick="redefinirSenha()">
                    Redefinir
                </button>
            </div>
        </div>
    </section>

    <script src="/JS/redefinirSenha.js"></script>
</body>

</html>