<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!------- Fonte importada ------>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!------- Estilização ------>
  <link rel="stylesheet" type="text/css" href="/CSS/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/CSS/afiliado-registrar-imagem.css">
  <title>Registrar imagens</title>
</head>

<body>
  <!------- Header ------>
  <header>
    <div class="container">
      <div class="logo text-center">
        <a href="#" class="navbar-brand">
          <img height="63" src="/Images/LOGO-FUTINFO.jpg">
        </a>
      </div>
    </div>
  </header>
  <!------- Article ------>
  <article class="container-fluid">
    <section class="row p-0">
      <!------- Aside ------>
      <aside class="col-xl-4 col-lg-4 col-md-5 pt-1 col-sm p-0">
        <div class="title-afiliado w-100">
          <h1 class="h1-titleAfiliado text-center">Área do afiliado FutINFO</h1>
        </div>
        <!------- Início da lista ------>
        <nav class="py-5 w-100 navbar-expand-md navbar-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul>
              <li class="item-li">
                <img class="img-li-aside" src="/Images/Afiliados/bell.svg" height="23">
                <span class="li-text">Ver solicitações</span>
                <div class="btn-danger d-inline-block notificacao">0</div>
              </li>
              <li class="item-li">
                <img class="img-li-aside" src="/Images/Afiliados/clock.svg" height="23">
                <span class="li-text">Histórico de agendamento</span>
              </li>
        <!------- Item com collapse ------>
              <li class="item-li item-li-collapse" data-toggle="" href="#imgs-li" aria-expanded="" aria-controls="imgs-li">
                <img class="img-li-aside" src="/Images/Afiliados/photo.svg" height="23">
                <span class="li-active-jQuery li-textjQuery">Imagens da quadra
                <img class="arrowDown-li" src="/Images/Afiliados/down-arrow.svg" height="17">
                </span>
                <div class="collapse show" id="imgs-li">
                                  <ul class="ul-collapse">
                    <li class="li-collapse-active">Adicionar imagens
                <img class="arrowDown-li" src="/Images/Afiliados/plus.svg" height="17">
                    </li>
                    <li class="li-collapse">Remover imagens
                <img class="arrowDown-li" src="/Images/Afiliados/minus.svg" height="17">
                    </li>
                  </ul>
                </div>
              </li>
              <li class="item-li">
                <img class="img-li-aside" src="/Images/Afiliados/add.svg" height="23">
                <span class="li-text">Registrar endereço da quadra</span>
              </li>
              <li class="item-li">
                <img class="img-li-aside" src="/Images/Afiliados/order.svg" height="23">
                <span class="li-text">Editar endereço da quadra</span>
              </li>
              <li class="item-li">
                <img class="img-li-aside" src="/Images/Afiliados/cursor.svg" height="23">
                <span class="li-text">Ver minha quadra</span>
              </li>
              <div class="link-inicio-area pt-5">
                <li class="item-li-link">
                  <img class="img-li-aside" src="/Images/Afiliados/logout.svg" height="23">
                  <span class="li-text-link"><a href="/pagina-inicial">Voltar para o início do site</a></span>
                </li>
              </div>
            </ul>
          </div>
        </nav>
      </aside>
      <!------- Main ------>
      <main class="main-area px-1 pt-1 p-0 col-xl-8 col-lg-8 col-md-7 col-12">
            <div class="title-day w-100">
                    <h1 class="h1-title-day">Adicionar imagens</h1>
                  </div>
      <!------- Input file ------>
                  <div class="text-title-input">
                  <p class="input-text-p py-4">Selecione as imagens que ficarão disponíveis na sua quadra.</p>
                </div>
                  <div class="input-file-content pt-1">
                  <div class="input-file w-100">
                    <h2 class="text-center pt-3 h2-input-file">Selecione as imagens</h2>
                    <input type="file" class="mw-100 text-center pt-5 input-person">
                  </div>
      <!------- Imagens ------>
                  <div class="images-area pt-3 w-100">
                  <div class="images-title w-100">
                    <h2 class="text-center pt-3 h2-input-file">Imagens selecionadas:</h2>
                  </div>
                  <div class="img-area">
                    <div class="img-content">
                      <img class="image-content w-100 h-100" src="/Images/Slide/img-2.jpg" data-action="zoom">
                    </div>
                    <div class="img-content">
                      <img class="image-content w-100 h-100" src="/Images/Slide/img-2.jpg" data-action="zoom">
                    </div>
                    <div class="img-content">
                      <img class="image-content w-100 h-100" src="/Images/Slide/img-2.jpg" data-action="zoom">
                    </div>
                    <div class="img-content">
                      <img class="image-content w-100 h-100" src="/Images/Slide/img-2.jpg" data-action="zoom">
                    </div>
                    <div class="img-content">
                      <img class="image-content w-100 h-100" src="/Images/Slide/img-2.jpg" data-action="zoom">
                    </div>
                    <div class="img-content">
                      <img class="image-content w-100 h-100" src="/Images/Slide/img-2.jpg" data-action="zoom">
                    </div>
                    <div class="img-content">
                      <img class="image-content w-100 h-100" src="/Images/Slide/img-2.jpg" data-action="zoom">
                    </div>
                  </div>
                  <div class="button-area text-center py-5">
                    <button class="btn btn-success btn-font-person">Registrar imagens</button>
                  </div>
                  </div>
                </div>
        </main>
    </section>
  </article>
      <!------- Footer ------>
      <footer class="mt-1">
        <div class="container">
            <div class="logo text-center">
              <a href="#" class="navbar-brand">
                  <img height="63" src="/Images/LOGO-FUTINFO.jpg">
              </a>
            </div>
        </div>
    </footer>
   <!------- Scripts ------>
   <script src="/JS/jquery-3.1.1.min.js" type="text/javascript"></script>
   <script src="/JS/bootstrap.min.js" type="text/javascript"></script>
   <script src="/JS/popper.min.js" type="text/javascript"></script>
</body>
</html>