body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/***** Header *****/
header {
    font-family: 'Montserrat', sans-serif;
    background-color: #006FC7;
    height: 80px;
}
section {
    font-family: 'Montserrat', sans-serif;
}
aside {
    height: 150vh;
    /*background-color: #005194;*/
    background-color: #002747;

}
aside > nav {
    font-family: 'Montserrat', sans-serif;
}
.title-afiliado {
    font-family: 'Reem Kufi', sans-serif;
    height: 95px;
    background-color: #005194;
    display: flex;
    align-items: center;
    justify-content: center!important;
    border-bottom: 5px solid #FFF;
}
.h1-titleAfiliado {
    font-size: 30px;
    color: #FFF;
}
/***** Lista aside *****/
nav ul, li {
    list-style: none!important;
}
nav ul {
    background-color: #002747;
    padding-right: 20px;
    padding-top: 20px;
    margin: auto;
    width: 100%;
}
.item-li {
    font-size:16px;
    font-weight: 500;
    color: #FFF;
    padding-top:25px;
    padding-bottom: 25px; 
    cursor: pointer;
}
.li-active {
    padding: 10px;
    background-color: #0679d8;
    color: #FFF;
    border-radius: 3px;
}
.img-li-aside {
    height: 27px;
    margin-right: 10px;
}
.notificacao {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 8px;
    border-radius: 3px;
}
.li-text {
    transition: ease 0.5s;
    border-bottom: 2px solid #FFF;
    padding-bottom: 20px;
    border-width: thin;
}
.li-text:hover {
     padding: 10px;
    background-color: #0679d8;
    color: #FFF;
    border-radius: 3px;
}
/***** Main *****/
main {
    height:220vh;
    font-family: 'Reem Kufi', sans-serif;
}
.main-area {
    background-color: rgb(255, 255, 255);
}
.title-solicitado {
    height: 95px;
    background-color: #002747;
}
.h3-solicitado {
    line-height: 95px;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    color: #FFF;
}
.area-horarios {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.title-day {
    font-family: 'Reem Kufi', sans-serif;
    height:90px;
    background-color: #011a5f;
}
.h1-title-day {
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 30px;
    line-height: 90px;
}
/***** Cards*****/
.card-person {
    width: 25em;
    height: 24em;
    background-color: #00559a;
    border: 1px solid #000000;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 8px;
}
.card-title {
    background-color: #013d5c;
    padding:10px;
}
.h2-title-card {
    text-align: center!important;
    color: #FFF;
    font-size: 20px;
}
.date-card-area {
    display: flex;
    flex-direction: column;
}
.card-img-icon {
    margin-right: 5px;
    height: 25px;
}
.item-li-card {
    padding-bottom: 10px;
    padding-top:10px;
    font-size: 17px;
    color: #FFF;
}
/***** Botão *****/
.btn-area {
    padding-left: 20px;
    max-width: 100%;
}
.btn-success-person {
    width:50%;
    font-size: 14px;
}
.btn-danger-person {
    font-size: 14px
}
/***** Footer *****/
footer {
    height: 80px;
    background-color: #006fc7;
    margin-top: 5px;
}
/***** Responsivo *****/
@media screen and (max-width:1035px) {
    .btn-success-person {
    width:60%;
    font-size: 14px;
    }
}
@media screen and (max-width:927px) {
    .area-horarios {
        flex-direction: column;
    }
    main {
        height: 390vh;
    }
    .card-person {
        height: 23em;
        width: 92%;
        margin-bottom:10px;
    }
    .btn-success-person {
        font-size: 15px;
    }
    .btn-danger-person {
        font-size: 15px;
    }
}
@media screen and (max-width:768px) {
    aside {
        height: auto;
    }
    .navbar-toggler {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 2;
        background-color: #0679dc;
        border: 1px solid #5d000000;
        border-radius: .25rem;
        text-align: center;
    }
    .card-person {
        
    }

}