body {
    margin: 0;
    padding: 0;
    height: 500vh;
    box-sizing: border-box;
    background-color: rgb(250, 250, 250);
    font-family: Arial, Helvetica, sans-serif;
}
/******Header******/
header {
    font-family: 'Montserrat', sans-serif!important;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #006FC7;
}
.container {
    height: 80px;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center!important;
    background-color: #006FC7;
}
.logo_header {
    height: 60px;
}
.menu {
    margin-right: 20px;
}
.menu ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.menu a {
    font-weight: 600;
    font-size: 16.5px;
    color: #FFF;
    padding:10px;
    text-decoration: none;
}
.btn_signUp {
    margin-left: 100px;
    max-width: 215px;
    height: 40px;
    line-height: 12px;
    background-color: #FFF;
    border-radius: 8px;
    color: #000;
    cursor: pointer;
    transition: all ease 0.7s;
}
.btn_txt {
    font-size: 14px;
    padding: 3px 15px;
}
.btn_signUp:hover {
    background-color: #091E32;
    color: #FFF;
}
.menuMobile {
    display: none;
    width:40px;
	height:40px;
	margin-top:40px;
	margin-bottom:40px;
	margin-right:20px;
}
.mm_line {
    height: 3px;
    background-color:#091E32;
}
/******Section******/
section {
    font-family: 'Montserrat', sans-serif!important;
    padding-top: 20px;
    height: 600px;
    display: flex!important;
    background-color: rgb(218, 218, 218);
    justify-content:center;
}
table, th, td {
    padding: 8px 7.6px;
    margin-top: 3px;
    text-align: center;
    font-size: medium;
    border: 3.5px solid #005496;
}
.container_section {
    display: flex;
    height: 600px;
    width: 1300px;
}
.tables_column {
    display: flex;
    flex-direction: column;
}
.table_area {
    height: 210px;
    padding-bottom: 55px;
    width: 400px;
    max-width: 400px;
}
.times {
    width: 120px;
}
.divisao_area {
    background-color: #005496;
    width: 280px!important;
    line-height: 41px;
    height: 41px;
    text-align: center;
}
.divisao_h1 {
    font-weight: 400;
    padding: 0px 10px;
    text-align: center;
    font-size: 21px;
    color: #FFF;
}
.area_time {
    display: flex!important;
}
.time_png {
    height: 20px;
    max-height: 20px!important;
}
.nome_time {
    margin-left: 12px;
}
.link_table a {
    cursor: pointer;
    font-size: 15.5px;
    text-decoration: none;
    color: #2E2EFE;
}
/******Fim das tabelas******/

.news_area {
    display: flex;
    flex-direction: column;
}
.news {
    font-family: 'Nunito', sans-serif;
    display: flex;
    border: 2px solid #005496;
    border-radius: 10px;
    height: 255px;
    width: 460px;
    background-color: rgb(253, 252, 252);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.img_news_png {
    border-radius: 10px 0px 0px 10px;
    width: 213px;
    height: 100%;
    max-width: 215px;
}
.text_new{
    display: flex;
    color: #0057b9;
    flex-direction: column;
}
.text_new_top  {
    font-size: 14px;
    padding:15px;
}
.text_new_top a {
    color: #0057b9;
    text-decoration: none;
}
.text_new_center {
    padding:10px;
   align-items: center!important;
}
.h1_new_center {
    font-size: 26px;
    margin-left: 35px;
    margin-top: 15px;
    text-transform: uppercase;
}
.p_new {
    font-size: 14.5px;
}
.new_link {
    font-size: 13px;
    float: right!important;
}

/******Responsivo******/
@media screen and (max-width:1000px) {
    .logo_header {
        height: 50px;
    }
    .menu a {
        font-weight: 600;
        font-size: 16px;
        color: #FFF;
        padding: 10px;
        text-decoration: none;
    }
    .btn_signUp {
        margin-left: 50px;
    }
}
@media screen and (max-width: 915px) {
    header .container {
        flex-direction: row;
    }
    header {
        height: auto;
    }
    /******Menu Header Mobile*****/
    nav ul {
        height: 220px;
        flex-direction: column;
        padding: 6px 15px;
        position: absolute;
        left: 0;
        top: 80px;
	    width: 100%;
	    background-color: rgb(0, 98, 179);
	}
    .logo_header {
        height: 60px;
    }
    .menuMobile {
        cursor: pointer;
        float: right!important;
        margin-top: 40px;
        display:flex;
		flex-direction: column;
		justify-content:space-around;
    }
    .btn_signUp {
        margin-left: 0;
    }
}