body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(250, 250, 250);
    font-family: Arial, Helvetica, sans-serif;
}
/******Header******/
header {
    font-family: 'Montserrat', sans-serif!important;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #006FC7;
}
.container {
    height: 80px;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center!important;
    background-color: #006FC7;
}
.logo_header {
    height: 60px;
}
.menu ul,li {
    padding: 0;
    list-style: none;
    display: flex;
}
.menu a {
    font-weight: 600;
    font-size: 16.5px;
    color: #FFF;
    padding:10px;
    text-decoration: none;
}
.btn_signUp {
    margin-left: 100px;
    max-width: 215px;
    height: 40px;
    line-height: 12px;
    background-color: #FFF;
    border-radius: 8px;
    color: #000;
    cursor: pointer;
    transition: all ease 0.7s;
}
.btn_txt {
    font-size: 14px;
    padding: 3px 15px;
}
.btn_signUp:hover {
    background-color: #091E32;
    color: #FFF;
}
.menuMobile {
    display: none;
    width:40px;
	height:40px;
}
.mm_line {
    height: 3px;
    background-color:#091E32;
}
/******Section******/
section {
    font-family: 'Montserrat', sans-serif!important;
    padding-top: 20px;
    display:flex;
    justify-content: space-around;
    
}
table, th, td {
    padding: 8px 7.6px;
    text-align: center;
    font-size: medium;
    border: 3.5px solid #005496;
}
.container_section{
    display:inline-block;
}
.tables_column {
    display: flex;
    flex-direction: column;
}
.table_area {
    width: 100%;
    position:relative;
}
.times {
    width: 120px;
}
.divisao_area {
    background-color: #005496;
    width: 100%;
    line-height: 41px;
    height: 41px;
    text-align: center;
}
.divisao_h1 {
    font-weight: 400;
    padding: 0px 10px;
    text-align: center;
    font-size: 21px;
    color: #FFF;
}
.time_png {
    height: 20px;
    max-height: 20px!important;
}
.link_table a {
    cursor: pointer;
    font-size: 15.5px;
    text-decoration: none;
    color: #2E2EFE;
}
/******Fim das tabelas******/

.news_area {
    display:inline-block;
    width:465px;
    margin-top:16px;
}
.news {
    display: flex;
    border: 2px solid #005496;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(253, 252, 252);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom:40px;
}
.img_news_png {
    border-radius: 10px 0px 0px 10px;
    width: 200px;
    height: 100%;
    max-width: 215px;
}
.text_new{
    display: flex;
    color: #0057b9;
    flex-direction: column;
}
.text_new_top  {
    color: #00599c;
    padding:10px 15px;
}
.text_new_top a {
    font-size: 13px;
    border-bottom:2px solid #0281e2;
    padding-bottom: 5px;
    color: #005496;
    text-decoration: none;
}
.text_new_center {
    padding:5px;
   align-items: center!important;
}
.h1_new_center {
    color: #005496;
    font-size: 26.5px;
    display: flex;
    justify-content:center;
    margin:10px 0;
}
.text_sbtext {
    max-width: 100%!important;
    padding-left: 5px;
}
.p_new {
    font-weight: 200;
    font-style: italic;
    padding-bottom: 7px;
    border-bottom: 3px solid #0281e2;
    font-size: 13.5px;
}
.new_link {
    font-size: 13px;
}
.bottom_text {
    display: flex;
    justify-content: space-around;
}
.calendartextArea {
    line-height: 0px;
    display: flex;
}
.calendar_text_img {
    height: 17px;
}
.date_text {
    font-size: 11px;
    color: #005496;
}
/******Fim das notícias******/
.slide_area{
    display:inline-block;
}
.slide_textCenter {
    background-color: #005496;
    border-radius: 4.5px;
    width: 350px;
    height:45px;
    text-align: center;
}
.textSlide {
    font-size: 15.5px;
    line-height: 45px;
    font-weight: 400;
    color: #FFF;
    margin-top:16;
}
.slide_name {
    height: 50px;
    line-height: 10px;
}
.h2_slideName {
    font-size: 22px;
    color: #152E6B;
}
.p_slidesbText{
    font-size: 11.5px;
    color: #152E6B;

}
/******Slide IMG******/
.slideInt {
    height: 400px;
    max-height: 400px;
}
.slide {
    max-width: 350px;
    padding-top: 7px;
    position: relative;
	overflow: hidden!important;
}
.slide > * {
	width: 100%;
	position: absolute;
	opacity: 1;
	transition: .5s;
}
.slide > .active {
	position: relative;
	opacity: 1;
}
.slide_conteudo {
    cursor: pointer;
    position: absolute;
}
.imgSlide {
    object-fit: cover;
    height: 250px;
    max-height: 250px;
    width: 350px;
    max-width: 350px!important;
}
.btn_quadra {
    height: 50px;
    width: 350px;
    max-width: 350px!important;
    background-color: #005496;
    line-height: 18px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    cursor: pointer;
}
.p_btn {
    font-size: 15px;
    font-weight: 600;
    color: #FFF;
}
/******2º slide******/
.slideTwo {
    max-width: 350px;
    max-height: 250px;
    padding-top: 8px;
    position: relative;
    overflow: hidden!important;
}
.slideTwo > * {
    width: 100%;
    position: absolute;
    opacity: 1;
    transition: .5s;
}
.slideTwo > .active {
    position: relative;
    opacity: 1;
}
/******Botão do 2 SLIDE******/
.Twobtn_quadra {
    height: 50px;
    width: 350px;
    max-width: 350px!important;
    background-color: #005496;
    line-height: 18px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    cursor: pointer;
}
/******Footer******/
footer {
    height: 200px;
    background-color: #006FC7;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
.container_footer {
    height: 175px;
    width: 1200px;
    display: flex;
    align-items: center!important;
    justify-content: space-evenly;
    position:relative;
    bottom:0;
}
.logo_footer {
    max-width: 400px;
}
.logoFooter {
    height: 70px;
}
.parceiros_footer_area {
    align-items: center;
    max-width: 400px;
}
.h1Parceiros,
.h1Pages {
    text-align: center!important;
    font-size: 22px;
    color: #fff;
}
.parceiros_footer {
    max-width: 400px;
    display: flex;
    max-height: 75px!important;
}
.mercadoImg {
    height: 75px;
    cursor: pointer;
    width: 25%;
}
.fotografiaImg {
    cursor: pointer;
    width: 30%;
    height: 110px;
}
.paginas_footer_area {
    max-width: 400px;
    align-items: center;
}
.listaPage_footer {
    max-width: 400px;
    max-height: 75px!important;
}
.ulFooter a {
    text-decoration: none;
    color: #FFF;
}
.listFooter {
    font-weight: normal;
    padding-top: 2px;
    padding: 0px 0px 8px 0px;
    font-size: 12.5px;
}
/******FooterCopy*****/
.footerCopy {
    display:flex;
    padding-top: 3px;
    height: 60px;
    border-top: 1px solid #032aa8;
    background-color: #006FC7;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.logoFooter {
    height: 40px;
}
.pCopy {
    margin-top:20px;
    font-size: 13px;
    color: #FFF;
}
/******Responsivo******/
@media screen and (max-width:1000px) {
    .logo_header {
        height: 50px;
    }
    .menu a {
        font-weight: 600;
        font-size: 16px;
        color: #FFF;
        padding: 10px;
        text-decoration: none;
    }
    .btn_signUp {
        margin-left: 50px;
    }
}
@media screen and (max-width: 915px) {
    header .container {
        flex-direction: row;
    }
    header {
        height: auto;
    }
    /******Menu Header Mobile*****/
    nav ul {
        height: 220px;
        flex-direction: column;
        padding: 6px 15px;
        position: absolute;
        left: 0;
        top: 80px;
	    width: 100%;
	    background-color: rgb(0, 98, 179);
	}
    .logo_header {
        height: 60px;
    }
    .menuMobile {
        cursor: pointer;
        float: right!important;
        margin-top: 40px;
        display:flex;
		flex-direction: column;
		justify-content:space-around;
    }
    .btn_signUp {
        margin-left: 0;
    }
}