body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/***** Header *****/
header {
    font-family: 'Montserrat', sans-serif;
    background-color: #006FC7;
    height: 80px;
}
.container_header {
    background-color: #006FC7;
}
.logo_header {
    max-height: 60px!important;
}
.nav-item a {
    color: #FFF;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15.9px;
    font-weight: 500;
}
.nav-item a:hover {
    text-decoration: none;
    transition: all ease 0.7s;
    color: #011a5f;
}
.btn-person {
    font-weight: bolder;
    color: #000;
    font-size: 15px;
}
.btn-person:hover {
    color: #FFF;
    background-color: #004377;
}
.btn-person a {
    font-weight: bolder;
    color: #000;
    text-decoration: none;
}
.dropdown-item {
    font-size: 13px;
    color: #000;
    font-weight: bolder;
}
.dropdown-menu,
.dropdown-item {
    background-color:
}
.dropdown-menu {
    border-radius: 4px;
}
.item-dropdown-classificacao:hover {
    background-color: unset;
    color: #FFF;
}
.dropdown-classificacao {
    background-color: #006FC7;
}
.inicio-text {
    font-size: 18px;
}
.btn-danger-person {
    font-size: 13.5px;
}

/***** Menu bottom *****/
.menuMobile_bottom {
    height: 20vh;
    background-color: #006FC7;
    font-family: 'Montserrat', sans-serif!important;
}
.menuArea {
    display: flex!important;
    align-items: center;
    height: 100%;
    max-width: 100%;
    justify-content: space-evenly!important;
}
.optionsContainer {
    padding-top: 4px;
    min-width: 85px;
    color: #FFF;
}
/***** Opções menu bottom *****/
.menuItem {
    cursor: pointer;
    padding: 0px 25px 0px 25px;
    display: flex;
    flex-direction: column;
}
.iconItem {
    height: 35px;
    max-height: 35px!important;
}
.textItem {
    margin-top: 1px;
    padding: 4px 0px 0px 0px;
    font-size: 14.5px;
}
/***** Menu top slides*****/
aside {
    font-family: 'Montserrat', sans-serif;
    height: 28.5rem;
    border: 1.5px solid #011a5f;
    display: flex;
    flex-direction: column!important;
    margin-top: 2px;
}
.slideTitle-aside {
    width: 100%;
    height: 30px;
    background-color: #011a5f;
}
.slideArea-aside {
    margin-top: 10px;
}
.p-slideTitle-aside {
    line-height: 30px!important;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: #FFF;
}
.slideInt-aside {
   margin: 10px 0px 15px 0px;
}
/***** Nomes slide *****/
.slideName-aside {
    margin-top: 7px;
    text-align: center;
}
.p-slideName-aside {
    font-size: 22.5px;
    font-weight: bolder;
    color: #040256;
}
.p-sbText-slideName-aside {
    color: #040256;
    font-size: 15px;
}
.btn-aside-person {
    font-size: 14.5px;
}
.btn-View {
    font-size: 15.5px;
}
.img-person-mobile {
    width: 2px;
}
/***** Section *****/
section {
    height: 1050px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
}
/***** Tabelas *****/
table {
    min-width: 308px;
    max-width: 308px!important;
    font-size: 14px;
    text-align: left;
}
table, tr, td, th, thead {
    border-bottom-color: #005496;
}
.table-bordered td, .table-bordered th {
    border: 3px solid #005496;
    border-bottom-color: #005496;
}
.table thead th {
    vertical-align: bottom;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #005496;
}
.tableTitle {
    background-color: #011a5f;
    width:100%;
    height: 35px;
    line-height: 35px;
}
.h3-title {
    font-size: 17px;
    line-height: 35px;
    color: #FFF;
}
.areaGeral {
    margin-bottom: 20px;
}
.thTime {
    width: 50%;
    text-align: center;
}
.timeText {
    font-weight: bold;
    color: #011a5f;
}
.h1-viewTable {
    font-size: 17px;
    font-weight: 600;
}
td , th {
    font-size: 12.5px;
    text-align: left;
}
/***** Notícias *****/
.news {
    width: 550px;
    max-width: 550px!important;
    max-height: 235px!important;
    border: 1px solid #004ea2;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom:20px;
}
.newsImg {
    object-fit: cover;
}
.imgNews {
    height: 100%;
    width: 225px;
    object-fit: cover;
}
/***** Texto notícias *****/
.newsText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #0062cc;
}
.h1TitleNews {
    font-weight: 600;
    padding: 10px 12px 12px 12px;
    font-size: 22px;
    color: #0B48DE;
    margin-bottom: 12px;
    border-bottom: 2px solid #004ea2;
}
.sbTitleNews {
    font-size: 14.5px;
    color:#0062b3; 
    max-width: 100%;
    font-weight: 600;
    font-style: italic;
    padding: 0px 3px 25px 3px;
    border-bottom: 2px solid #334677;
}
.newsTextBottom {
    border-top: 2px solid #0062cc;
}
.btn-news {
    font-size: 12px;
    color: #FFF;
}
/***** Calendário *****/
.dateNews {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.textDate {
    font-size: 14.5px;
    font-weight: 600;
    color: #012b96;
    margin-left: 10px;
}
.calendarIMG {
    width: 19.5px;
}
.dateNews-links {
    justify-content: space-between;
}
.news-h3-Link {
    font-size: 12.9px;
}
/***** Slide *****/
.slideArea {
    margin-left: 3rem;
    border:1.5px solid #005496;
    border-radius:3.5px;
}
.slideConteudo {
    padding: 5px;
}
.carousel-item > img {
    height: 250px;
    max-height: 250px!important;
    object-fit: cover;
}
.slideText {
    background-color: #011a5f;
    width: 100%;
    height: 35px;
    line-height: 35px;
}
.h3slideText {
    font-size: 17px;
    line-height: 35px;
    color: #FFF;
}
.titleQuadra {
    padding: 10px 0px 0px 0px;
    font-size: 21px;
    color: #040256;
    font-weight: 600;
}
.pQuadra {
    font-weight: 400;
    color: #040256;
    font-size: 13px;
}
/***** Article *****/
article {
    height: 70px;
    background-color: #FDFDFD;
    border-top:1px solid #006FC7;
    font-family: 'Montserrat', sans-serif;
}
.pagination {
    padding: 15px 0px 0px 0px;
}
.page-item {
    font-size: 15.5px;
}
/***** Footer *****/
footer {
    font-family: 'Montserrat', sans-serif;
    height:auto;
    margin-top: 10px;
    background-color: #006fc7;
    display: flex;
    justify-content: center; 
}
.container-footer {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.brand-footer {
    justify-content: center;
    max-height: 80px!important;
}
.brand-footer-IMG {
    width: 8em;
}
.copyText {
    line-height: 105px;
    margin-left: 1.5em;
    color: #FFF;
    font-size: 14px;
}
.list-footer {
    padding-top: 2em;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.h1TitleFooter {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
}
.liFooter li {
    list-style: none;
    font-size: 12.5px;
    align-items: center;
    color: #FFF;
    padding: 5px 0px 5px 0px;
}
.liFooter a {
    color: #FFF;
}
/***** Responsivo *****/
/***** Responsivo menu bottom *****/
@media screen and (min-width:1px) and (max-width: 400px) {
    .menuItem {
    cursor: pointer;
    padding: 0px 10px 0px 15px;
    display: flex;
    flex-direction: column;
}
.iconItem {
    height: 25px;
    max-height: 25px!important;
}
.textItem {
    margin-top: 1px;
    padding: 4px 0px 0px 0px;
    font-size: 12.5px;
}
.optionsContainer {
    padding-top: 13px;
}
}
/***** Responsivo removendo classificação *****/
@media screen and (max-width:1257px){
    .slideArea {
        margin-left: 4.5rem;
    }
    .areaContainer {
        margin-right: 15px;
    }
}
@media screen and (max-width:1199px) {
    .nav-item a {
        font-size: 14px;
    }
    .btn-person {
        font-size: 13px;
    }
    .slideArea {
        margin-left: 11.5rem;
    }
    .news {
        margin-left: 5px;
        width: 615px;
        max-width: 615px!important;
    }
    .h1TitleNews {
        font-size: 27px;
    }
    .sbTitleNews {
        font-size: 14.3px;
    }
    .textDate  {
        font-size: 13.5px;
    }
    .news-h3-Link {
        font-size: 14px;
    }
}
@media screen and (max-width:1122px) {
    .slideArea {
        margin-left: 15rem;
    }
}
/***** Responsivo menu header mobile *****/
@media screen and (max-width:991px) {
    header {
        height: auto!important;
    }
    .areaConteudo {
       display: flex;
    }
    .news {
        margin-left: 5px;
        width: 470px;
        max-width: 470px!important;
    }
    .h1TitleNews {
        font-size: 21px;
    }
    .sbTitleNews {
        font-size: 12.7px;
    }
    .textDate {
        font-size: 12.5px;
    }
    .news-h3-Link {
        font-size: 12px;
    }
    .dateNews {
     flex-direction: unset;
    }
}
@media screen and (max-width:778px) {
    .news {
        margin-left: -8px;
        width: 440px;
        max-width: 500px!important;
    }
    .imgNews {
        height: 100%;
        width: 190px;
        object-fit: cover;
    }
    .h1TitleNews {
        font-size: 20px;
    }
    .sbTitleNews {
        font-size: 11.6px;
        font-style: unset!important;
    }
    .textDate {
        font-size: 11px;
    }
    .news-h3-Link {
        font-size: 11.6px;
    }
    .dateNews {
     flex-direction: column;
    }
    .slideArea {
        margin-left: 14.5rem;
    }
}
@media screen and (max-width:680px) {
    .imgNews {
        width: 165px;
    }
    .news {
       width: 425px;
        max-width:100%;
    }
@media screen and (max-width:576px) {
    aside,
    section {
        height: auto;
    }
    .news-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .news {
        width: 100%;
    }
    .container-footer {
        display: flex;
        flex-direction: column-reverse;
    }
    .copyText {
        line-height: unset;
        font-size: 14px;
    }
    .brand-footer-IMG {
        display: none;
    }
}
@media screen and (max-width:444px){
    .news {
        width: 100%;
    }
}

@media screen and (max-width:426px){
    .brand-footer {
        align-items: center;
    }
    .brand-footer-IMG {
        display: none;
    }
    .copyText {
        font-size: 13px;
    }
}

@media screen and (max-width:378px){
    aside {
        height: auto;
    }
    .p-slideName-aside{
        margin-left: 10px;
    }
    .p-sbText-slideName-aside {
        margin-left: 10px;
    }
    .btn-aside-person {
        margin-left: 10px;
    }
    .slideArea-aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
    }
    .slideName-aside {
        text-align: unset;
    }
    .slideInt-aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
        width: 250px;
        padding:10px 0px 10px 10px;
    }
    .btn-View {
        width: 100%;
    }
    .news {
        width: 100%;
    }
    .imgNews {
        width: 125px;
    }
    .h1TitleNews {
        font-size: 18px;
    }
    .sbTitleNews {
        font-size: 11px;
        font-style: unset!important;
    }
    .dateNews {
        flex-direction: column;
    }
    .p-slideName-aside {
        font-size: 15.5px;
    }
    .p-sbText-slideName-aside {
        color: #040256;
        font-size: 11px;
    }
    
}
@media screen and (max-width:296px) {
    .news {
        width: 100%;
    }
    .imgNews {
        width: 100px;
    }
    .h1TitleNews {
        font-size: 16px;
    }
    .sbTitleNews {
        font-size: 11px;
        font-style: unset!important;
    }
    .dateNews {
        flex-direction: column;
    }
}
@media screen and (max-width:250px) {
    aside {
        height: auto;
    }
    aside img {
        max-width: 230px;
    }
    .slideInt-aside {
        display: unset;
    }
    .h1TitleNews {
        display: none!important;
    }

}
