<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!------- Fonte importada ------>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!------- Estilização ------>
  <link rel="stylesheet" type="text/css" href="/CSS/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/CSS/admin-editar-noticia.css">
  <title>Editar notícia</title>
</head>
<body>
  <!------- Header ------>
  <header>
    <div class="container">
      <div class="logo text-center">
        <a href="#" class="navbar-brand">
          <img height="63" src="/Images/LOGO-FUTINFO.jpg">
        </a>
      </div>
    </div>
  </header>
  <!------- Article ------>
  <article class="container-fluid">
    <section class="row p-0">
  <!------- Título do edit ------>
      <div class="edit-title">
       <h2 class="h2-edit-title text-center">Editar notícia</h2>
      </div>
  <!------- Lista do edit ------>
  <div class="col-xl-4 col-lg-4 col-md-4 pt-1 col-sm p-0 mt-1 area-items-edit">
    <div class="list-edit">
      <ul class="ul-edit pt-3">
        <li class="li-edit">
          <img src="/Images/Admin/add.svg" height="27">
          <span class="text-li li-active"><a href="#">Editar notícia</a></span>
        </li>
         <li class="li-edit">
          <img src="/Images/Admin/versus.svg" height="27">
          <span class="text-li"><a href="#">Resultado dos jogos</a></span>
        </li>
        <li class="li-edit">
          <img src="/Images/Admin/leaderboard.svg" height="27">
          <span class="text-li"><a href="#">Classificação</a></span>
        </li>
        <li class="li-edit">
          <img src="/Images/Admin/soccer-player.svg" height="27">
          <span class="text-li"><a href="#">Artilheiros</a></span>
        </li>
           <li class="li-edit">
          <img src="/Images/Admin/plus.svg" height="27">
          <span class="text-li"><a href="#">Adicionar afiliado</a></span>
        </li>
        </ul>
  <!------- Botão de voltar para o início do site ------>
                              <div class="link-inicio-area pt-5">
                <li class="item-li-link">
                  <img class="img-li-aside" src="/Images/Admin/logout.svg" height="23">
                  <span class="li-text-link text-li"><a href="/pagina-inicial">Voltar para o início do site</a></span>
                </li>
              </div>
    </div>
  </div>
  <!------- Conteúdo do edit ------>
    <div class="col-xl-8 col-lg-8 col-md-8 col-12 mt-1 area-info-edit">
      <div class="info-edit-content pb-3">
        <div class="input-title-area py-2 px-3">
          <div class="input-file-area pb-3">
            <div class="input-title py-2">
            <h1 class="h1-input">Editar imagem da notícia</h1>
          </div>
          <div class="input-imagem-area py-2">
            <input type="file" id="imagem" enctype="multipart/form-data">
          </div>
          </div>
          <div class="input-title py-2">
            <h1 class="h1-input">Título da notícia</h1>
          </div>
          <div class="input-text-area">
            <input type="text" class="input-text" id="manchete">
          </div>
          <div class="noticia-area mt-3">
            <div class="input-title py-2">
            <h1 class="h1-input">Registrar notícia</h1>
          </div>
            <textarea class="text-noticia" id="conteudo"></textarea>
          </div>
          <div class="button-area pt-3">
            <button type="button" class="btn btn-success btn-person" onclick="editarNoticia()">Registrar notícia</button>
          </div>
        </div>
      </div>
    </div>
    </section>
  </article>
      <!------- Footer ------>
      <footer class="mt-1">
        <div class="container">
            <div class="logo text-center">
              <a href="#" class="navbar-brand">
                  <img height="63" src="/Images/LOGO-FUTINFO.jpg">
              </a>
            </div>
        </div>
    </footer>
   <!------- Scripts ------>
   <script src="/JS/popper.min.js" type="text/javascript"></script>
   <script src="/JS/jquery-3.1.1.min.js" type="text/javascript"></script>
   <script src="/JS/bootstrap.min.js" type="text/javascript"></script>
   <script src="/JS/admin/editarNoticia.js" type="text/javascript"></script>
</body>
</html>