<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!------- Fonte importada ------>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!------- Estilização ------>
  <link rel="stylesheet" type="text/css" href="/CSS/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/CSS/admin-classificacao.css">
  <title>Editar artilheiros</title>
</head>

<body>
  <!------- Header ------>
  <header>
    <div class="container">
      <div class="logo text-center">
        <a href="#" class="navbar-brand">
          <img height="63" src="/Images/LOGO-FUTINFO.jpg">
        </a>
      </div>
    </div>
  </header>
  <!------- Article ------>
  <article class="container-fluid">
    <section class="row p-0">
  <!------- Título do edit ------>
      <div class="edit-title">
       <h2 class="h2-edit-title text-center">Editar artilheiros</h2>
      </div>
  <!------- Lista do edit ------>
  <div class="col-xl-4 col-lg-4 col-md-4 pt-1 col-sm p-0 mt-1 area-items-edit">
    <div class="list-edit">
      <ul class="ul-edit pt-3">
        <li class="li-edit">
          <img src="/Images/Admin/add.svg" height="27">
          <span class="text-li"><a href="#">Adicionar notícia</a></span>
        </li>
        <li class="li-edit">
          <img src="/Images/Admin/leaderboard.svg" height="27">
          <span class="text-li"><a href="#">Classificação</a></span>
        </li>
        <li class="li-edit">
          <img src="/Images/Admin/soccer-player.svg" height="27">
          <span class="text-li li-active"><a href="#">Editar artilheiros</a></span>
        </li>
           <li class="li-edit">
          <img src="/Images/Admin/plus.svg" height="27">
          <span class="text-li"><a href="#">Adicionar afiliado</a></span>
        </li>
        </ul>
  <!------- Botão de voltar para o início do site ------>
                              <div class="link-inicio-area pt-5">
                <li class="item-li-link">
                  <img class="img-li-aside" src="/Images/Admin/logout.svg" height="23">
                  <span class="li-text-link text-li"><a href="/pagina-inicial">Voltar para o início do site</a></span>
                </li>
              </div>
    </div>
  </div>
  <!------- Conteúdo do edit ------>
    <div class="col-xl-8 col-lg-8 col-md-8 col-12 mt-1 area-info-edit">
      <div class="info-edit-content pb-3">
  <!------- Tabela ------>
    <div class="tabela-area">
  <!------- Modalidade (campo ou futsal) ------>
      <div class="modalidade-area d-flex py-2 px-2">
        <h1 class="h1-modalidade">Modalidade:</h1>
        <input type="text" class="input-time ml-2" id="modalidade">
      </div>
  <!------- Categoria (masculino ou feminino) ------>
    <div class="categoria-area d-flex py-2 px-2">
        <h1 class="h1-divisao">Categoria:</h1>
        <input type="text" class="input-time ml-2" id="categoria">
      </div>
      <div class="divisao-texto d-flex soccer-player-2 px-2 py-4">
        <input type="text" class="input-posicao mr-2" maxlength="2" id="divisao">
        <h1 class="h1-divisao">
         Divisão</h1>
      </div>
      <div class="tabela">
        <table class="table">
          <thead class="thead-person">
            <tr>
  <!------- Thead ------>
              <th scope="col" class="th-time">
                Time
              </th>
              <th scope="col">Jogador</th>
              <th scope="col">Gols</th>
            </tr>
          </thead>
  <!------- Tbody ------>
          <tbody>
            <tr>
              <th scope="row">
                <input type="text" class="input-time" id="nomeTime">
              </th>
              <th>
                <input type="text" class="input-jogador" id="nomeArtilheiro">
              </th>
               <th>
                <input type="text" class="input-pontos" maxlength="2" id="gol">
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="botao-area text-center pt-5">
      <button class="btn-person btn btn-success" onclick="editarArtilheiro()" type="button">Editar artilheiros
    </div>
      </div>
    </div>
    </section>
  </article>
      <!------- Footer ------>
      <footer class="mt-1">
        <div class="container">
            <div class="logo text-center">
              <a href="#" class="navbar-brand">
                  <img height="63" src="/Images/LOGO-FUTINFO.jpg">
              </a>
            </div>
        </div>
    </footer>
   <!------- Scripts ------>
   <script src="/JS/jquery-3.1.1.min.js" type="text/javascript"></script>
   <script src="/JS/hidden-pass.js" type="text/javascript"></script>
   <script src="/JS/click-user.js" type="text/javascript"></script>
   <script src="/JS/bootstrap.min.js" type="text/javascript"></script>
   <script src="/JS/popper.min.js" type="text/javascript"></script>
   <script src="/JS/admin/editarArtilheiro.js" type="text/javascript"></script>
</body>
</html>